<% include partials/header %>
    <h1>This is home page!</h1>
    <h2>I'm Orifjon Narkulov</h2>
    <h3>Senior C#.NET & Web Developer</h3>
    <img src="http://orifjon.net/public/img/uploads/orifjon-narkulov-photo-v1.jpg">
    <% include partials/footer %>